In [3]:
import pandas as pd
import numpy as np
from pathlib import Path

In [ ]:
#map and read in dataset
homeless_data = Path('data/public_services_dataset.xlsx')
df = pd.read_excel(homeless_data)

In [14]:
#DF BELOW TO BE USED FOR CLEANING
homeless_df = df.copy()

In [15]:
#view dataset
homeless_df

,OCCUPANCY_DATE,LOCATION_POSTAL_CODE,SECTOR,OVERNIGHT_SERVICE_TYPE,PROGRAM_MODEL,PROGRAM_AREA,CAPACITY_TYPE,ACTUAL_CAPACITY,OCCUPIED_CAPACITY,UNAVAILABLE_CAPACITY,OCCUPANCY_RATE
0,2024-01-01,M9W1J1,Families,Motel/Hotel Shelter,Emergency,Temporary Refugee Response,Room Based Capacity,149,149,1,1.0
1,2024-01-01,M9W1J1,Mixed Adult,Motel/Hotel Shelter,Emergency,Temporary Refugee Response,Room Based Capacity,57,57,0,1.0
2,2024-01-01,M5S2P1,Mixed Adult,Shelter,Emergency,Base Program - Refugee,Bed Based Capacity,8,8,0,1.0
3,2024-01-01,M2J4R1,Families,Motel/Hotel Shelter,Emergency,Temporary Programs,Room Based Capacity,67,67,16,1.0
4,2024-01-01,M2J4R1,Families,Motel/Hotel Shelter,Emergency,Temporary Refugee Response,Room Based Capacity,161,161,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
100332,2025-12-31,M2J4R1,Families,Motel/Hotel Shelter,Emergency,Temporary Programs,Room Based Capacity,90,90,0,1.0
100333,2025-12-31,M5R2T1,Youth,Shelter,Emergency,Base Shelter and Overnight Services System,Bed Based Capacity,14,14,0,1.0
100334,2025-12-31,M1H2X1,Men,Shelter,Emergency,Base Shelter and Overnight Services System,Bed Based Capacity,101,101,0,1.0
100335,2025-12-31,M5V3W3,Men,Shelter,Transitional,Base Shelter and Overnight Services System,Bed Based Capacity,48,48,0,1.0
100336,2025-12-31,M6C2R5,Men,Alternative Space Protocol,Emergency,Winter Programs,Bed Based Capacity,2,1,0,0.5

In [29]:
#find total available and occupied capacity for each date
homeless_df.groupby('OCCUPANCY_DATE').agg(
    total_available_capacity = ('ACTUAL_CAPACITY', 'sum'),
    total_occupancy_count = ('OCCUPIED_CAPACITY', 'sum')
).reset_index()

    OCCUPANCY_DATE  total_available_capacity  total_occupancy_count
0       2024-01-01                      7692                   7594
1       2024-01-02                      7703                   7616
2       2024-01-03                      7703                   7620
3       2024-01-04                      7704                   7630
4       2024-01-05                      7700                   7624
..             ...                       ...                    ...
726     2025-12-27                      7300                   7108
727     2025-12-28                      7292                   7102
728     2025-12-29                      7289                   7089
729     2025-12-30                      7287                   7100
730     2025-12-31                      7411                   7133

[731 rows x 3 columns]

In [26]:
#create new column for month of occupancy
homeless_df['OCCUPANCY_YEAR'] = homeless_df['OCCUPANCY_DATE'].dt.year
homeless_df['OCCUPANCY_MONTH'] = homeless_df['OCCUPANCY_DATE'].dt.month

In [28]:
#find total available and occupied capacity for each month
homeless_df.groupby(['OCCUPANCY_YEAR', 'OCCUPANCY_MONTH']).agg(
    total_available_capacity = ('ACTUAL_CAPACITY', 'sum'),
    total_occupancy_count = ('OCCUPIED_CAPACITY', 'sum')
).reset_index()

,OCCUPANCY_YEAR,OCCUPANCY_MONTH,total_available_capacity,total_occupancy_count
0,2024,1,239668,237581
1,2024,2,224914,223221
2,2024,3,233444,231742
3,2024,4,223517,222091
4,2024,5,231620,230617
5,2024,6,222544,221190
6,2024,7,228259,227231
7,2024,8,225845,224956
8,2024,9,215928,214969
9,2024,10,222835,221616
10,2024,11,216705,214856
11,2024,12,235208,230889
12,2025,1,246518,242166
13,2025,2,222858,218391
14,2025,3,237269,232260
15,2025,4,218406,215069
16,2025,5,218582,215531
17,2025,6,210819,206673
18,2025,7,214961,209973
19,2025,8,210525,206658
20,2025,9,200084,196970
21,2025,10,206355,203408
22,2025,11,203807,198589
23,2025,12,222551,216266

In [19]:
#new column for unutilized capacity
homeless_df['UNUTILIZED_CAPACITY'] = homeless_df['ACTUAL_CAPACITY'] - homeless_df['OCCUPIED_CAPACITY']

In [39]:
#find total unutilized capacity for each month and postal code
homeless_df.groupby(['OCCUPANCY_YEAR', 'OCCUPANCY_MONTH', 'LOCATION_POSTAL_CODE']).agg(
    unutilized_capacity = ('UNUTILIZED_CAPACITY', 'sum')
).reset_index()

,OCCUPANCY_YEAR,OCCUPANCY_MONTH,LOCATION_POSTAL_CODE,unutilized_capacity
0,2024,1,L4L8P5,96
1,2024,1,M1B3M6,2
2,2024,1,M1E2M6,1
3,2024,1,M1E2N8,3
4,2024,1,M1E2P4,1
...,...,...,...,...
2357,2025,12,M9V1P9,17
2358,2025,12,M9V2X6,23
2359,2025,12,M9W1J1,395
2360,2025,12,M9W6P8,0
2361,2025,12,NAN,131